{#
	SfsAdminBundle - Symfony2 project
	(c) Ramine AGOUNE <ramine.agoune@solidlynx.com>
#}

<!--BEGIN TITLE & BREADCRUMB PAGE-->
<div class="breadcrumb-bar clearfix">
    {% block breadcrumb_list %}
        {% set menu = knp_menu_get('breadcrumb', []) %}
        {{ knp_menu_render(menu, {'template': '@SfsAdmin/Menu/knp_breadcrumb.html.twig', 'allow_safe_labels': true }) }}
    {% endblock %}
</div>
<!--END TITLE & BREADCRUMB PAGE-->
