{#
	SfsAdminBundle - Symfony2 project
	(c) Ramine AGOUNE <ramine.agoune@solidlynx.com>
#}

<!--BEGIN FOOTER-->
{# <div id="footer">#}
{# 	<div class="copyright">2015 ©SolidLynx</div>#}
{# </div>#}
<!--END FOOTER-->
