{#
	SfsAdminBundle - Symfony3 project
	(c) Ramine AGOUNE <ramine.agoune@solidlynx.com>
#}

<!--BEGIN SUBBAR-->
<div class="sub-bar clearfix">
	<div class="pull-left">
		{% if object is defined %}
			{% set subbarMenu = knp_menu_get('SfsAdminBundle:SubBarMenu:subBarMenu', [], {'currentObject': object}) %}
			{{ knp_menu_render(subbarMenu, {'template': 'SfsAdminBundle:Menu:knp_subbar.html.twig', 'allow_safe_labels': true}) }}
		{% endif %}
	</div>
</div>
<!--END SUBBAR-->
