{#
	SfsAdminBundle - Symfony3 project
	(c) Ramine AGOUNE <ramine.agoune@solidlynx.com>
#}

<!--BEGIN SUBBAR-->
<div class="sub-bar clearfix">
	<div class="pull-left">
		{{ knp_menu_render('subbar', {'template': 'SfsAdminBundle:Menu:knp_subbar.html.twig', 'allow_safe_labels': true }) }}
		{#<ul class="nav navbar-nav">#}
			{#<li class="">#}
				{#<a href="" data-placement="bottom" data-toggle="tooltip" data-original-title="Android">#}
					{#<i class="fa fa-android"></i> Android#}
				{#</a>#}
			{#</li>#}
			{#<li class="">#}
				{#<a href="" data-placement="bottom" data-toggle="tooltip" data-original-title="Calendar">#}
					{#<i class="fa fa-calendar"></i> Calendrier#}
				{#</a>#}
			{#</li>#}
		{#</ul>#}
	</div>
</div>
<!--END SUBBAR-->
