{#
	SfsAdminBundle - Symfony2 project
	(c) Ramine AGOUNE <ramine.agoune@solidlynx.com>
#}

<!--BEGIN TOPBAR-->
<div class="top-bar">
	<nav class="navbar navbar-default pr-16" role="navigation">
		<ul class="nav navbar-nav">
			<li>
				<a href="#menu-toggle" id="menu-toggle" class="">
					<i class="fa fa-bars fa-lg"></i>
				</a>
			</li>
		</ul>
		{% block breadcrumb_list %}
			{% if object is not defined %}
				{% set breadcrumbMenu = knp_menu_get('SfsAdminBundle:BreadcrumbMenu:breadcrumbMenu', [], {'currentObject': null}) %}
			{% else %}
				{% set breadcrumbMenu = knp_menu_get('SfsAdminBundle:BreadcrumbMenu:breadcrumbMenu', [], {'currentObject': object}) %}
			{% endif %}
			{{ knp_menu_render(breadcrumbMenu, {'template': 'SfsAdminBundle:Menu:knp_breadcrumb.html.twig', 'allow_safe_labels': true}) }}
		{% endblock %}

		{{ knp_menu_render('topbar', {'template': 'SfsAdminBundle:Menu:knp_topbar.html.twig', 'allow_safe_labels': true }) }}
	</nav>
</div>
<!--END TOPBAR-->
