.margin-0 {
  margin: 0px !important; }

.mt-0 {
  margin-top: 0px !important; }

.mb-0 {
  margin-bottom: 0px !important; }

.ml-0 {
  margin-left: 0px !important; }

.mr-0 {
  margin-right: 0px !important; }

.padding-0 {
  padding: 0px !important; }

.pt-0 {
  padding-top: 0px !important; }

.pb-0 {
  padding-bottom: 0px !important; }

.pl-0 {
  padding-left: 0px !important; }

.pr-0 {
  padding-right: 0px !important; }

.margin-8 {
  margin: 8px !important; }

.mt-8 {
  margin-top: 8px !important; }

.mb-8 {
  margin-bottom: 8px !important; }

.ml-8 {
  margin-left: 8px !important; }

.mr-8 {
  margin-right: 8px !important; }

.padding-8 {
  padding: 8px !important; }

.pt-8 {
  padding-top: 8px !important; }

.pb-8 {
  padding-bottom: 8px !important; }

.pl-8 {
  padding-left: 8px !important; }

.pr-8 {
  padding-right: 8px !important; }

.margin-16 {
  margin: 16px !important; }

.mt-16 {
  margin-top: 16px !important; }

.mb-16 {
  margin-bottom: 16px !important; }

.ml-16 {
  margin-left: 16px !important; }

.mr-16 {
  margin-right: 16px !important; }

.padding-16 {
  padding: 16px !important; }

.pt-16 {
  padding-top: 16px !important; }

.pb-16 {
  padding-bottom: 16px !important; }

.pl-16 {
  padding-left: 16px !important; }

.pr-16 {
  padding-right: 16px !important; }

.margin-24 {
  margin: 24px !important; }

.mt-24 {
  margin-top: 24px !important; }

.mb-24 {
  margin-bottom: 24px !important; }

.ml-24 {
  margin-left: 24px !important; }

.mr-24 {
  margin-right: 24px !important; }

.padding-24 {
  padding: 24px !important; }

.pt-24 {
  padding-top: 24px !important; }

.pb-24 {
  padding-bottom: 24px !important; }

.pl-24 {
  padding-left: 24px !important; }

.pr-24 {
  padding-right: 24px !important; }

.margin-32 {
  margin: 32px !important; }

.mt-32 {
  margin-top: 32px !important; }

.mb-32 {
  margin-bottom: 32px !important; }

.ml-32 {
  margin-left: 32px !important; }

.mr-32 {
  margin-right: 32px !important; }

.padding-32 {
  padding: 32px !important; }

.pt-32 {
  padding-top: 32px !important; }

.pb-32 {
  padding-bottom: 32px !important; }

.pl-32 {
  padding-left: 32px !important; }

.pr-32 {
  padding-right: 32px !important; }

.margin-64 {
  margin: 64px !important; }

.mt-64 {
  margin-top: 64px !important; }

.mb-64 {
  margin-bottom: 64px !important; }

.ml-64 {
  margin-left: 64px !important; }

.mr-64 {
  margin-right: 64px !important; }

.padding-64 {
  padding: 64px !important; }

.pt-64 {
  padding-top: 64px !important; }

.pb-64 {
  padding-bottom: 64px !important; }

.pl-64 {
  padding-left: 64px !important; }

.pr-64 {
  padding-right: 64px !important; }

.margin-96 {
  margin: 96px !important; }

.mt-96 {
  margin-top: 96px !important; }

.mb-96 {
  margin-bottom: 96px !important; }

.ml-96 {
  margin-left: 96px !important; }

.mr-96 {
  margin-right: 96px !important; }

.padding-96 {
  padding: 96px !important; }

.pt-96 {
  padding-top: 96px !important; }

.pb-96 {
  padding-bottom: 96px !important; }

.pl-96 {
  padding-left: 96px !important; }

.pr-96 {
  padding-right: 96px !important; }

.margin-128 {
  margin: 128px !important; }

.mt-128 {
  margin-top: 128px !important; }

.mb-128 {
  margin-bottom: 128px !important; }

.ml-128 {
  margin-left: 128px !important; }

.mr-128 {
  margin-right: 128px !important; }

.padding-128 {
  padding: 128px !important; }

.pt-128 {
  padding-top: 128px !important; }

.pb-128 {
  padding-bottom: 128px !important; }

.pl-128 {
  padding-left: 128px !important; }

.pr-128 {
  padding-right: 128px !important; }

.text-bold {
  font-weight: bold !important; }

.pointer {
  cursor: pointer; }

.text-white {
  color: white; }

/*# sourceMappingURL=tools.css.map */
