{#
	SfsAdminBundle - Symfony2 project
	(c) Ramine AGOUNE <ramine.agoune@solidlynx.com>
#}


{% block content %}
	<p>{% trans with {'%target%': object} %}sfs.admin.message.delete_message{% endtrans %}</p>

	{{ form_start(form) }}
		{{ form_widget(form.delete) }}
		{{ form_end(form) }}
	{{ form_end(form) }}
{% endblock %}
