{#
	SfsAdminBundle - Symfony2 project
	(c) Ramine AGOUNE <ramine.agoune@solidlynx.com>
#}

<td>
	{%  if attribute(object, key) %}
		<span class="label label-success">{% trans %}sfs.admin.field.true_value{% endtrans %}</span>
	{% else %}
		<span class="label label-danger">{% trans %}sfs.admin.field.false_value{% endtrans %}</span>
	{% endif %}
</td>
