{#
	SfsAdminBundle - Symfony3 project
	(c) Ramine AGOUNE <ramine.agoune@solidlynx.com>
#}

{% extends 'SfsAdminBundle:Core:base.html.twig' %}

{% block content %}
    {{ parent() }}

    {# The following is a given example #}
    {#<div class="col-lg-12">#}
        {#<div class="panel panel-primary">#}
            {#<div class="panel-heading">Lorem Ipsum</div>#}
            {#<div class="panel-body">#}
                {#<div>#}
                    {#<p>#}
                        {#Constituendi autem sunt qui sint in amicitia fines et quasi termini diligendi. De quibus tres#}
                        {#video sententias ferri, quarum nullam probo, unam, ut eodem modo erga amicum adfecti simus, quo#}
                        {#erga nosmet ipsos, alteram, ut nostra in amicos benevolentia illorum erga nos benevolentiae#}
                        {#pariter aequaliterque respondeat, tertiam, ut, quanti quisque se ipse facit, tanti fiat ab#}
                        {#amicis.#}
                    {#</p>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
{% endblock %}
