{% if is_granted("ROLE_ADMIN") %}
	<li class="dropdown navbar-profile">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
			{{ app.user.username }} <img class="img-circle" src="{{ asset('bundles/sfsadmin/img/default_profile.jpg') }}"> <span class="caret"></span>
		</a>
		<ul class="dropdown-menu">
			<li class="dropdown-header text-center"><strong>User</strong></li>
			<li>
				<a href="{{ path('sfs_admin_logout') }}"><i class="fa fa-power-off"></i> Logout</a>
			</li>
		</ul>
	</li>
{% endif %}
